
Body/1Raw/fasta/.Rhistory

Body/1Raw/.Rhistory

Body/1Raw/DifferenceBetweenSpeciesFamilies.txt

Body/2Derived/DifferenceBetweenSpeciesFamilies.txt

Body/2Derived/DifferenceBetweenSpeciesFamilies10.txt

Head/2Scripts/Difference_Between_Families.R

Body/2Derived/DifferenceFamiliesCytB/.Rhistory

Body/2Derived/.Rhistory

Head/2Scripts/TrioTracerA.R
